.App {
    background: cornflowerblue;
    width: 200px;
    height: 100px;
    text-align: center;
    border: 1px solid;
    margin: 50px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;

}
.red{
    color: red;
    border: solid 1px gray;
    background: white;
}
div button{
    width: 50px;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 10px 5px 5px gray;
    margin: 7px;

}
button:hover{
    background: cornflowerblue;

}
button:active{
background: lightskyblue;
}

div input{
    border-radius: 5px;
    border: 2px solid gray;
    width: 40px;
    margin-left: 60px;

}
.table{
    border: solid 1px black;
    background: white;
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;

}
input:hover{
    color: cornflowerblue;

}
.settings{
    background: cornflowerblue;
    width: 300px;
    height: 200px;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;
    text-align: center;
    margin: 50px;
}
.minMaxDiv{
    border: 2px solid gray;
    width: 150px;
    border-radius: 15px;
    padding: 5px 0px 5px 25px;
    margin-left: 70px;
    background: white;
    margin-top: 25px;


}
