.App {
    background: cornflowerblue;
    width: 200px;
    height: 100px;
    text-align: center;
    border: 1px solid;
    margin: 50px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;

}
.red{
    color: red;
    border: solid 1px gray;
    background: white;
}
div button{
    width: 50px;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 10px 5px 5px gray;
    margin: 7px;

}
button:hover{
    color: cornflowerblue;

}

div input{
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 10px 5px 5px gray;
    width: 30px;
    margin-top: 50px;
    margin-left: 140px;
}
.table{
    border: solid 1px black;
    background: white;
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;

}
input:hover{
    color: cornflowerblue;

}