.App {
    background: cornflowerblue;
    width: 200px;
    height: 100px;
    text-align: center;
    border: 1px solid;
    margin: 50px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;

}
.red{
    color: red;
    border: solid 1px gray;
    background: white;
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;
}
div button{
    width: 50px;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 10px 5px 5px gray;
    margin: 7px;

}
button:hover{
    background: cornflowerblue;

}
button:active{
background: lightskyblue;
}

.maxInput{
    text-align: center;
    border-radius: 5px;
    border: 2px solid gray;
    width: 70px;
    margin-left: 60px;
}
.minInput{
    text-align: center;
    border-radius: 5px;
    border: 2px solid gray;
    width: 70px;
    margin-left: 60px;
}



.table{
    border: solid 1px black;
    background: white;
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;

}
.maxInput:hover{
    color: cornflowerblue;
}
.minInput:hover{
    color: cornflowerblue;
}
.settings{
    background: cornflowerblue;
    width: 300px;
    height: 200px;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;
    text-align: center;
    margin: 50px;
}
.minMaxDiv{
    border: 2px solid gray;
    border-radius: 15px;
    background: white;
    margin-top: 25px;
}
.minMaxDiv{
    border: 2px solid gray;
    border-radius: 15px;
    background: white;
    margin-top: 25px;
}
.redInput{
    color: red;
    background: pink;
    border-radius: 15px;
    border: 2px solid gray;
}
